apiVersion: v1
items:
  - apiVersion: v1
    kind: Service
    metadata:
      annotations:
        kompose.cmd: kompose -f docker-compose.yml -o kubernetes.yml convert
        kompose.version: 1.20.0 ()
      creationTimestamp: null
      labels:
        io.kompose.service: dynamic4-backend
      name: dynamic4-backend
      namespace: scrape
    spec:
      ports:
        - name: "8000"
          port: 8000
          targetPort: 8000
      selector:
        io.kompose.service: dynamic4-backend
    status:
      loadBalancer: {}
  - apiVersion: v1
    kind: Service
    metadata:
      annotations:
        kompose.cmd: kompose -f docker-compose.yml -o kubernetes.yml convert
        kompose.version: 1.20.0 ()
      creationTimestamp: null
      labels:
        io.kompose.service: dynamic4-frontend
      name: dynamic4-frontend
      namespace: scrape
    spec:
      ports:
        - name: "8083"
          port: 8083
          targetPort: 80
      selector:
        io.kompose.service: dynamic4-frontend
    status:
      loadBalancer: {}
  - apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      annotations:
        kompose.cmd: kompose -f docker-compose.yml -o kubernetes.yml convert
        kompose.version: 1.20.0 ()
      creationTimestamp: null
      labels:
        io.kompose.service: dynamic4-backend
      name: dynamic4-backend
      namespace: scrape
    spec:
      replicas: 1
      revisionHistoryLimit: 1
      strategy: {}
      template:
        metadata:
          annotations:
            kompose.cmd: kompose -f docker-compose.yml -o kubernetes.yml convert
            kompose.version: 1.20.0 ()
          creationTimestamp: null
          labels:
            io.kompose.service: dynamic4-backend
        spec:
          containers:
            - env:
                - name: APP_ENV
                  value: production
                - name: PGSQL_DATABASE
                  value: scrape_news
                - name: PGSQL_HOST
                  valueFrom:
                    secretKeyRef:
                      name: pgsql
                      key: PGSQL_HOST
                - name: PGSQL_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: pgsql
                      key: PGSQL_PASSWORD
                - name: PGSQL_PORT
                  valueFrom:
                    secretKeyRef:
                      name: pgsql
                      key: PGSQL_PORT
                - name: PGSQL_USER
                  valueFrom:
                    secretKeyRef:
                      name: pgsql
                      key: PGSQL_USER
              image: germey/scrape-dynamic4-backend:${TAG}
              name: scrape-dynamic4-backend
              ports:
                - containerPort: 8000
              resources: {}
          restartPolicy: Always
    status: {}
  - apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      annotations:
        kompose.cmd: kompose -f docker-compose.yml -o kubernetes.yml convert
        kompose.version: 1.20.0 ()
      creationTimestamp: null
      labels:
        io.kompose.service: dynamic4-frontend
      name: dynamic4-frontend
      namespace: scrape
    spec:
      replicas: 1
      revisionHistoryLimit: 1
      strategy: {}
      template:
        metadata:
          annotations:
            kompose.cmd: kompose -f docker-compose.yml -o kubernetes.yml convert
            kompose.version: 1.20.0 ()
          creationTimestamp: null
          labels:
            io.kompose.service: dynamic4-frontend
        spec:
          containers:
            - image: germey/scrape-dynamic4-frontend:${TAG}
              name: scrape-dynamic4-frontend
              ports:
                - containerPort: 80
              resources: {}
          restartPolicy: Always
    status: {}
  - apiVersion: batch/v1beta1
    kind: CronJob
    metadata:
      name: dynamic4-spider
      namespace: scrape
    spec:
      schedule: "*/30 * * * *"
      jobTemplate:
        spec:
          template:
            spec:
              containers:
                - name: scrape-dynamic4-spider
                  image: germey/scrape-dynamic4-spider:${TAG}
                  env:
                    - name: APP_ENV
                      value: production
                    - name: PGSQL_DATABASE
                      value: scrape_news
                    - name: PGSQL_HOST
                      valueFrom:
                        secretKeyRef:
                          name: pgsql
                          key: PGSQL_HOST
                    - name: PGSQL_PASSWORD
                      valueFrom:
                        secretKeyRef:
                          name: pgsql
                          key: PGSQL_PASSWORD
                    - name: PGSQL_PORT
                      valueFrom:
                        secretKeyRef:
                          name: pgsql
                          key: PGSQL_PORT
                    - name: PGSQL_USER
                      valueFrom:
                        secretKeyRef:
                          name: pgsql
                          key: PGSQL_USER
              restartPolicy: OnFailure
kind: List
metadata: {}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-dynamic4
  namespace: scrape
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  tls:
    - hosts:
        - dynamic4.scrape.cuiqingcai.com
      secretName: tls-wildcard-scrape-cuiqingcai-com
  rules:
    - host: dynamic4.scrape.cuiqingcai.com
      http:
        paths:
          - backend:
              serviceName: dynamic4-frontend
              servicePort: 80
            path: /